<!doctype html>
<html lang="tr">
  <head>
    <title>Özdemir Hafriyat - Samsun</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Turkish">
    <meta name="description" content="Hafriyat ve inşaat konularında faaliyet göstermek üzere 1984 yılında hafriyat işlerine atılan, yıllarca deneyimi olan Mehmet Özdemir 2004 yılında Özdemir Hafriyatı kurmuştur. Uzmanlık gerektiren konularda uzun yıllara dayanan deneyim ve gerçekleştirdiği çalışmaların yanı sıra profesyonellerden oluşan güleryüzlü ekibi, müşteri memnuniyeti merkezli hizmet anlayışıyla her zaman, her yerde bir telefon kadar uzağınızda. Makinelerimiz Forklift çatallı ve Kırıcılıdır.  Özdemir Hafriyat, Mehmet Özdemir, Samsundaki Hafriyatçılar" />
    <meta name="keywords" content="hafriyat,samsun,samsundaki hafriyatçılar,mehmet özdemir, özdemir hafriyat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand navbar-light bg-light mb-5 fixed-top ">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link " href="https://ozdemir-hafriyat.com/">Özdemir Hafriyat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="tel:+905334974807">  <i class="fas fa-phone"></i>    </a>
            </li>
        </ul>
    </nav>
<hr>
    <div class="container mt-5">
        <div id="samsundakihafriyatcilar" class="carousel slide text-dark mt-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 px mt-5" src="./1.png" alt="First slide">
                    <div class="carousel-caption text-warning">
                        <h2 class="ml-0 mr-0 lead">Özdemir Hafriyat</h2>
                        <p class="m-0 lead">Mehmet Özdemir</p>
                        <p class="m-0 lead"> 0 533 497 48 07</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#samsundakihafriyatcilar" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon btn" aria-hidden="true"></span>
                <span class="sr-only">Samsun'da ki Hafriyatçılar</span>
            </a>
            <a class="carousel-control-next text-dark" href="#samsundakihafriyatcilar" role="button" data-slide="next">
                <span class="carousel-control-next-icon btn" aria-hidden="true"></span>
                <span class="sr-only">Samsundaki Hafriyatçılar</span>
            </a>
        </div>
    </div>
    <div class="container mt-5"><p>Hafriyat ve inşaat konularında faaliyet göstermek üzere 1984 yılında hafriyat işlerine atılan, yıllarca deneyimi olan Mehmet Özdemir 2004 yılında Özdemir Hafriyatı kurmuştur. Uzmanlık gerektiren konularda uzun yıllara dayanan deneyim ve gerçekleştirdiği çalışmaların yanı sıra profesyonellerden oluşan güleryüzlü ekibi, müşteri memnuniyeti merkezli hizmet anlayışıyla her zaman, her yerde bir telefon kadar uzağınızda. Makinelerimiz Forklift çatallı ve Kırıcılıdır.</p></div>  
    <hr>
    <div class="jumbotron container">
        <h2>Hizmetlerimiz</h2>
        <hr>
        <div class="container">
            <div class="container">
                <h3> <i class="fas fa-compress"></i> Hafriyat İşleri</h3>
                
                <p class="lead container">Özdemir Hafriyat, yıllarca deneyimli çalışanlardan oluşan ekibi ile hafriyat işlerinizin üstesinden gelir.</p>
            </div>
            <div class="container">
                <h3> <i class="fas fa-compress"></i> Yıkım</h3>
                <p class="lead container">Samsun’da ki hafriyat firmaları arasında oldukça önde olan Özdemir Hafriyat, bina-yapı yıkım işlerinizde yeni model, kırıcılı iş makineleri ile hep yanınızda…</p>
            </div>
            <div class="container">
                <h3> <i class="fas fa-compress"></i> Nakliye</h3>
                <p class="lead container">Toprak, malzeme, çakıl, hafriyat taşınması mı gerekiyor ? Özdemir Hafriyat, profesyonel şoförleri ve donanımlı kamyonları ile sizi yalnız bırakmıyor.</p>
            </div>
        </div>
    </div>
    <hr>
    <a href="tel:+905334974807" class="fixed-bottom pull-right btn btn-success"> Bizi Arayın :    <i class="fas fa-phone"></i>  </a>
</body>
</html>
